body{
    background-image: url("images/green-potted-plant-on-white-ceramic-vase-1166644.jpg");
    background-size: 1100px;
    
    /* background-color: #FFCD96; */
    font-family: Arial, Helvetica, sans-serif;
    
}
header{
    background-color:rgba(240, 240, 240,0,5);;
    padding: 5px;
}
h2{
    color: rgb(64,64,64);
     padding: 1px;
    /* opacity: 90%; */

}
.container{
/* width: 1000px; */
text-align: center;
margin: auto;
/* display: inline; */
/* border: 2px solid black; */

padding-top: 20px;

}

.btn{
padding: 20px;
margin-top: 10px;
margin-bottom: 10px;
font-size: medium;
color: black;
font-weight: bold;
background-color: silver;
border-radius: 20px;
opacity: 80%;
cursor: pointer;

}
.game{
margin: auto;
border: #808080 1px solid;
display: grid;
/* to set the gird of 3 item on row */
grid-template-columns: auto auto auto;
height: 364px;

width: 364px;
/* width: 100%;
float: left; */

}
.box{
    display:flex;
    border: #808080 1px solid;
    justify-content: center;
    align-items: center;
      
    text-align: center;
    font-size: 40px;
    /* font-weight: bold; */
    cursor: pointer;
    padding: auto;
    width: 120px;
    height: 120px;
    
}
.msg{
color: black;

}
footer{
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.80;
}

@media only screen and (max-width: 375px)
{
    .container{
        float: left;
        width: 100%;
      }
      header{
        width: 100%;
        float: left;
      }
}
.clear {
    clear: both;
  }

  
